nav {
    width: 100%;
    background: #740001;
    height: 70px;
    position: static;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 84px;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
}

nav #brand a {
    color: #000;
    transition: all 0.3s ease-out;
    font-family: "Poppins";
    font-weight: 300;
    text-decoration: none
}

nav #menu {
    float: left;
    left: 50%;
    position: relative;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
    z-index: 100000;
}

nav #menu li a {
    color: #000;
    font-family: "Poppins";
    font-weight: 200;
    text-decoration: none;
    background-size: 2rem;
}

nav #menu li a:hover {
    color: #fff;
    transition: 0.5s;
}

a:hover:after {
    bottom: -5px;
    opacity: 1;
    border-color: #ae8625;
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    border-bottom: 2px solid white;
    background: white;
    bottom: -20px;
    opacity: 0;
    transition: 0.4s;
}

a+a {
    margin-left: 2rem;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: #000;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    z-index: 100;
    top: 0px;
    position: absolute;
    background: #ae8625;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 50px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 100px;
    min-height: 50px;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #000;
    font-size: 50px;
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 5rem;
}

@media(max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }

    nav #brand {
        margin-left: 18px;
    }

    #menu a {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }

    nav #menu {
        display: none;
    }

    .block {
        width: 25px;
        height: 25px;
        opacity: 0;
        mix-blend-mode: hard-light;
        background: #e60100;
        transition: opacity 0.3s ease-in;
    }
}

@media(min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}

@media(max-width: 650px) {
    .block {
        width: 25px;
        height: 25px;
        opacity: 0;
        mix-blend-mode: hard-light;
        background: #e60100;
        transition: opacity 0.3s ease-in;
    }
}